body {
  align-items: center;
  background-color: #EBECF0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.form {
  background-color: #EBECF0;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  border-radius: 20px;
  box-sizing: border-box;
  height: 350px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #AE1100;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 20px;
}

.subtitle {
  color: #AE1100;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #AE1100;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.input::placeholder {
    font-weight: bold;
    opacity: .8;
    color: white;
}
.box {
  position: absolute;
  top: 140%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -7%);
}
.box select {
  background-color: #AE1100;
  color: black;
  padding: 12px;
  width: 280px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  color: white;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  border-radius: 20px;
  border: none;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

a {
  position: absolute;
  top: 300%;
  left: 20%;
  color: white;
  font-size: 13px;
  background-color: #AE1100;
  text-decoration: none;
  display: inline-block;
  padding: 7px 20px;
  border-radius: .2rem;
  font-weight: 700;
  letter-spacing: .5px;
  
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
a:focus {
  outline: none;
}

.cut {
  background-color: #BABECC;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: "Montserrat", sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 88px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #000;
}
